@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
 body,
 html {
    height: 100%;
    margin: 0;
    padding: 0;    
  }
  *{
   overflow-x: hidden;
  }
  
  img {  
    display: block;
    width: 100%;
    height: auto;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

  .desk{
    width: 100vw;
  }
  
  .box {
    display: flex;
  }

  .me{
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
  }
  .filosophy{
    font-size: 3em;
    text-align:center;
    margin-bottom: 1.5em;
    font-family: 'Roboto', sans-serif;
  }
  p{
    text-align: justify;
    margin: 0.5em 2em;
  }
  .whoami{
    margin: 2em 2em;
  }

  nav{
    display:block;
    text-align:center;   
    padding: 3em 0;
  }
  .blog{    
    text-decoration: none;
    color: black;

  }
  span{
    background-color: rgba(0,0,0,0.9);
    border-radius: 2px;
    color: white;
    padding: 0.5em;
  }

  p footer{    
    padding: 0;
  }

  footer{
    background-color: rgba(0,0,0,0.9);
    padding: 0;
  }


  a.svg {
    position: relative;
    display: inline-block;
    padding: 0 1em;
    padding-top: 0.5em;

  }
   a.svg:after {
     content: ""; 
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left:0;
   }
   object {
     width: 100%;
   }
  @media (max-width: 800px) {
    #img, img {
      display:none;
    }

  }
  @media (max-width: 1165px) {
    .box{
      display: block;
    }
    p{
      text-align: center;
      margin: 0.5em 2em;
    }

  }

