html {
  background-color: #2d2d2d; }

body {
  color: #aaa;
  margin: 0;
  padding: 0;
  border: 0; }

.hightlight, code {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #2e3440; }

.hightlight {
  margin: 0 2em;
  padding: 1em 0; }

.lion {
  background-color: #202020; }

.white {
  color: white; }

.skyblue {
  color: skyblue; }

#navbarBasicExample {
  background-color: #202020; }

#switch {
  background-image: url("/assets/images/spotlight.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #202020;
  /* put the height and width of your image here */
  height: 32px;
  width: 32px;
  border: none;
  cursor: pointer; }

#switch:hover {
  background-color: #202020; }

ul, h1, h2, h3, p {
  margin: 0.5em 2em; }

.main-nav {
  padding: 0 1.25em; }

.right {
  float: right; }

#page-container {
  position: relative;
  min-height: 100vh; }

#content-wrap {
  padding-top: 2em;
  padding-bottom: 2.5rem;
  /* Footer height */ }

#footer {
  position: absolute;
  bottom: 0;
  padding: 0;
  width: 100%;
  height: 2.5rem;
  /* Footer height */
  background-color: #2d2d2d; }

.navbar-dropdown, .navbar-link, .navbar-item, .navbar-item:hover {
  background-color: #202020; }
